<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.study.newsclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <application
        android:name=".base.BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Light">
        <activity android:name=".pages.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.activity.HomeActivity"
            android:launchMode="singleTop" />

        <activity android:name=".pages.activity.DetailActivity" />
        <activity android:name=".pages.activity.LoginActivity"/>


        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel_ID" />
        <service
            android:name=".restful.service.UpdataService"
            android:enabled="true"
            >
        </service>

    </application>

</manifest>